# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\guido\Desktop\CPP\OCC Spring 2021\guidoasbun\Blue-Ticket-Problem2-CPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
